body {
	font-family: helvetica;
	font-size: ;
}

div#test1 {
	position: relative;
	height: 20px;
	width: 100px;
	border: 1px solid blue;
	display: inline-block;
}

div#test2 {
	position: relative;
	height: 20px;
	width: 100px;
	border: 1px solid blue;
	display: inline-block;
}

.hello {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

ul {
	list-style-type: none;
	margin: -1px 0 0 0;
	padding: 0;
	border: 1px solid green;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
}

li {
	margin: 0;
	padding: 1px 0px;
	-webkit-transition: all .2s ease-out;
}

li:hover {
	background-color: #AADDFF;
}

.dd_button {
	border: 1px solid black;
	height: 20px;
	margin: -1px -1px	 0 0;
	float: right;
	width: 20px;
	background-color: #777;
}

.dd_current {
	display: block;
	padding: 2px;
}